.features-bg {
    background: $primary-black;
    color: $primary-white;
    transform: skewY(-3deg);

    .features-body {
        transform: skewY(3deg);
    }

    .section-title {
        text-align: center;
        font-weight: 600;
        font-size: 2rem;
        margin-bottom: 1.5rem;
        padding-top: 5rem;
        padding-right: 0rem;

        @media (max-width: 768px) {
            font-size: 1.75rem;
        }

        @media (max-width: 576px) {
            font-size: 1.5rem;
        }
    }

    .feature {
        .feature-icon {
            text-align: center;
            padding: 2rem 0;
        }
        .feature-title {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 1rem;
        }
        .feature-info {
            line-height: 1.6;
            text-align: center;
            color: $primary-white-dark;
        }
    }

    .mab {
        padding-bottom: 9rem;
    }
    hr {
        border: 2px solid $primary-white;
        margin: 40px 0 30px 0;
    }
}

// .white-b {
//     width: 100%;
//     position: relative;
//     background-color: $primary-white;
//     margin-top: 1rem;
//     height: 10rem;
//     z-index: 10;
//     transform: skewY(-2deg);

//     &:before {
//         content: '';
//         height: 50px;
//         width: 50px;
//         background-color: $primary-black;
//         position: absolute;
//         top: -5px;
//         left: 0;
//     }

//     &:after {
//         content: '';
//         height: 100px;
//         width: 100px;
//         background-color: $primary-white;
//         position: absolute;
//         top: -1px;
//         left: 0;
//         border-radius: 50%;
//     }
// }
