.footer-info {
    list-style: none;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.footer-head {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.footer-bg {
    background: $primary-black;
    color: $primary-white;

    li {
        color: $primary-white-dark;
        margin-bottom: 0.5rem;
    }

    .row {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    a {
        color: $primary-white-dark;
        &:hover {
            color: $primary-white;
            text-decoration: none;
        }
    }

    .urlly {
        .social-media {
            .icon {
                color: $primary-white-dark;
                margin-right: 2rem;
            }
        }
    }

    svg {
        fill: $primary-white-dark;
        &:hover {
            fill: $primary-white;
        }
    }
}
