.form-section {
    margin-top: 2rem;

    .form {
        .input-div {
            border: 2px solid $primary-white-dark;
            border-radius: 27px;
            height: 54px;
            display: flex;
            align-items: center;

            .link-icon {
                margin: 0.25rem 0;
            }

            &:hover {
                transition: 0.5s all ease;
                box-shadow: 0 1px 10px 0 rgba(150, 152, 155, 0.28);
            }
        }

        .input {
            height: 3rem;
            width: 100%;
            padding: 1rem 1rem;
            border: none;

            &:focus {
                outline: none;
            }
        }

        .button {
            background-color: $primary-accent-color;
            border-radius: 27px;
            color: $primary-white;
        }
    }
}
