.short {
    .short-div {
        position: relative;
        margin: 3rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 27px;
        height: 54px;
        border: 1px solid $primary-accent-100;
        border-right: 1px solid $primary-accent-100;
        background-color: $primary-accent-100;

        .link-text {
            position: absolute;
            top: 50%;
            padding-left: 1rem;
            transform: translateY(-50%);
        }

        .copy {
            position: absolute;
            top: -1;
            right: 0;
            height: 54px;
            padding: 0.5rem 1rem;
            border: 1px solid $primary-accent-color;
            border-radius: 0 27px 27px 0;
            background-color: $primary-accent-color;
            color: $primary-white;

            &:hover {
                text-decoration: none;
                color: $primary-white;
            }

            &:focus {
                outline: none;
            }

            .copy-icon {
                margin: 0 0.5rem 0 0.125rem;
                padding: 0.125rem;
                fill: $primary-white;
            }
        }
    }
}
