@import './utils/typography';
@import './utils/variables';

@import './components/nav';
@import './components/cta';
@import './components/hero';
@import './components/inputUrl';
@import './components/footer';
@import './components/features';
@import './components/clients';
@import './components/unlock';
@import './components/shorturl';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    font-family: 'Poppins', sans-serif;
}
